# Dependencies
**/node_modules
**/.pnp
**/.pnp.*

# Next.js
frontend/.next/
frontend/out/

# Supabase
backend/.branches
backend/.temp
backend/supabase/.branches
backend/supabase/.temp

# Environment variables
**/.env*.local
**/.env

# Build outputs
**/build
**/dist

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
**/next-env.d.ts
